canvas {
  border: 1px solid #000;
}

h1 {
  text-align: center;
  color: #555555;
  font-size: 64px;
    font-family: 'Orbitron', sans-serif;
}

body {
  background-color: #222222;
  margin: auto;
 }

.container {
   height: 100px;
   position: relative;
 }

.container .button {
  transition-duration: 0.4s;
  border: 8px solid #444444;
  font-size: 64px;
  background-color: #555555;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    font-family: 'Orbitron', sans-serif;
}
.container .option {
  transition-duration: 0.4s;
  border: 8px solid #444444;
  font-size: 16px;
  background-color: #555555;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    font-family: 'Orbitron', sans-serif;
}

.container .button:hover {
  border: 8px solid #AAAAAA;
  background-color: #FFFFFF;
  color: black;
}

.container .option:hover {
  border: 8px solid #AAAAAA;
  background-color: #FFFFFF;
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.options {
  position: absolute;
  padding: 100px, 0px;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}